<!-- Paging for After Hours  -->
<section id="content_ah">

  <table>
    <thead>
      <tr>
	<th>Service Now Group</th>
	<th>ID</th>
	<th>AMCOM Group</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
	<td colspan="3">{{ .Param.support_date }}</td>
      </tr>
    </tfoot>
    <tbody>
      {{ range .Site.ah_support }}
      <tr>
        <td>{{ .ahsupport.snow_group }}</td>
        <td>{{ .ahsupport.id }}</td>
        <td>{{ .ahsupport.amcom }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</section>
<!-- End of Paging for After Hours -->
