<!doctype html>
<html lang="en">
  {% partial head.html . %}
  
  <body>

    {% partial "support_header.html" . %}

    <main>

      {% partial "support_sidebar.html" . %}

      <section>
	{% partial "category_1-ah.html" . %}
	
	<section id="content1">

	  {{ content }}

	</section>
	<!-- End of Issue content -->


	{% partial "category_2.html" . %}

	{% partial "category_ah.html" . %}

	{% partial "category_3.html" . %}

      </section>

    </main>

    {% partial "footer.html" . %}

    {% partial "load_scripts.html" . %}
    
  </body>
</html>
